[submodule "applications/graph/snap"]
	path = applications/graph/snap
	url = https://github.com/snap-stanford/snap
	ignore = dirty
[submodule "applications/graph/largescale_node2vec"]
	path = applications/graph/largescale_node2vec
	url = https://lc.llnl.gov/bitbucket/scm/havoq/largescale_node2vec.git
	ignore = dirty
[submodule "applications/ATOM/moses"]
	path = applications/ATOM/moses
	url = git@github.com:samadejacobs/moses.git
