[submodule "applications/ATOM/moses"]
	path = applications/ATOM/moses
	url = git@github.com:samadejacobs/moses.git
[submodule "applications/graph/node2vec/snap"]
	path = applications/graph/node2vec/snap
	url = https://github.com/snap-stanford/snap
        ignore = dirty
[submodule "applications/graph/node2vec/havoqgt"]
	path = applications/graph/node2vec/havoqgt
	url = https://github.com/LLNL/havoqgt
        branch = develop
        ignore = dirty
[submodule "applications/graph/node2vec/largescale_node2vec"]
	path = applications/graph/node2vec/largescale_node2vec
	url = https://lc.llnl.gov/bitbucket/scm/havoq/largescale_node2vec.git
        ignore = dirty
