[Graph]

# Edge-list file
file =
# If not provided, the graph is parsed to find max vertex ID
num_vertices = 0

[Motifs]

# Output file containing motifs
# Default: File called 'motifs' inside work directory
file =
# Input to PruneJuice
pattern_dir =
# For now, we assume all motifs are the same size
motif_size = 0

# Program to ingest graph file
graph_ingest_exec =
# Workspace directory to store ingested graph
distributed_graph_dir = /dev/shm/graph_motifs

# Program to find motifs
prunejuice_exec =
# Workspace directory to store PruneJuice output
# Note: Should be in parallel filesystem
prunejuice_output_dir =

[Walks]

use_online_walker = False

# Output file containing random walks
# Default: File called 'walks' inside work directory
file =

# Walk length, including start vertex
walk_length = 10
# Number of walks per graph vertex
num_walkers = 8
# node2vec return parameter
p = 1.0
# node2vec in-out parameter
q = 1.0

# Maximum number of vertices to visit when generating a walk
# Default: 2*walk_length
path_limit = 0

# Program to ingest graph file
graph_ingest_exec =
# Workspace directory to store ingested graph
distributed_graph_dir = /dev/shm/graph_walks

# Program to perform walks
walk_exec =
# Workspace directory to store distributed walk files
# Default: Directory called 'distributed_walks' inside work directory
# Note: Should be in parallel filesystem
distributed_walks_dir =

[Embeddings]

# Output directory to store embedding vectors
# Default: Directory called 'embeddings' inside work directory
embeddings_dir =
# Size of embedding vectors
embed_dim = 128

# File with initial embedding values
# Note: If provided, expects a space delimited text file. The first
# line specifies the matrix dimensions (num_vertices x embed_dim).
# Default: None
initial_embeddings_file =

# Generator variant
# Options: greedy, trivial
generator_type = greedy

# SGD learning rate
# Note: As a heuristic, learning rate should be proportional to
# mini-batch size. 0.0025*mbsize seems to work well.
learn_rate = 0.32
# SGD learning rate for generator
# Default: Same as learn_rate
generator_learn_rate =
# SGD mini-batch size
mini_batch_size = 128
# Total number of SGD steps
# Note: Number of steps should be proportional to
# (num_vertrices*num_walkers/mini_batch_size).
# Note: LBANN's data ingestion uses sampling with replacement.
sgd_steps = 1000
# SGD steps per "epoch"
# Note: We bypass LBANN's data tracking infrastructure, so this
# doesn't correspond to actual data epochs. It mostly affects how
# often metrics are reported.
sgd_steps_per_epoch = 100
