[Graph]

# Edge-list file
file = /usr/workspace/llamag/lbann/applications/graph/communityGAN/prunejuice_data/input_edge_list/four_clique_x2_edge_list
num_vertices = 0

[Motifs]

# Output file containing motifs
# Default: File called 'motifs' inside work directory
file =
# Input to PruneJuice
pattern_dir = /usr/workspace/llamag/lbann/applications/graph/communityGAN/prunejuice_data/unlabeled_patterns_0001/4_clique_unlabeled_apm/0_0/pattern/

# Program to ingest graph file
graph_ingest_exec = /usr/WS1/llamag/lbann/applications/graph/communityGAN/havoqgt/build/lassen.llnl.gov/src/ingest_edge_list
# Directory to store ingested graph
distributed_graph_dir = /dev/shm/graph_motifs

# Program to find motifs
prunejuice_exec = /usr/WS1/llamag/lbann/applications/graph/communityGAN/havoqgt/build/lassen.llnl.gov/src/run_pattern_matching
# Directory to store PruneJuice output
# Note: Should be in parallel filesystem
prunejuice_output_dir =

[Walks]

# Output file containing random walks
# Default: File called 'walks' inside work directory
file =

# Walk length, including start vertex
walk_length = 80
# Number of walks per graph vertex
num_walkers = 40
# node2vec return parameter
p = 1.0
# node2vec in-out parameter
q = 1.0

# Program to ingest graph file
graph_ingest_exec = /usr/workspace/llamag/lbann/applications/graph/communityGAN/largescale_node2vec/build/lassen.llnl.gov/src/construct_dist_graph
# Directory to store ingested graph
distributed_graph_dir = /dev/shm/graph_walks

# Program to perform walks
walk_exec = /usr/workspace/llamag/lbann/applications/graph/communityGAN/largescale_node2vec/build/lassen.llnl.gov/src/run_dist_node2vec_rw
# Directory to store distributed walk files
# Default: Directory called 'distributed_walks' inside work directory
# Note: Should be in parallel filesystem
distributed_walks_dir =
