[Graph]

# Edge-list file
file =
# If not provided, the graph is parsed to find max vertex ID
num_vertices = 0

[Motifs]

# Output file containing motifs
# Default: File called 'motifs' inside work directory
file =
# Input to PruneJuice
pattern_dir =

# Program to ingest graph file
graph_ingest_exec =
# Directory to store ingested graph
distributed_graph_dir = /dev/shm/graph_motifs

# Program to find motifs
prunejuice_exec =
# Directory to store PruneJuice output
# Note: Should be in parallel filesystem
prunejuice_output_dir =

[Walks]

# Output file containing random walks
# Default: File called 'walks' inside work directory
file =

# Walk length, including start vertex
walk_length = 80
# Number of walks per graph vertex
num_walkers = 40
# node2vec return parameter
p = 1.0
# node2vec in-out parameter
q = 1.0

# Program to ingest graph file
graph_ingest_exec =
# Directory to store ingested graph
distributed_graph_dir = /dev/shm/graph_walks

# Program to perform walks
walk_exec =
# Directory to store distributed walk files
# Default: Directory called 'distributed_walks' inside work directory
# Note: Should be in parallel filesystem
distributed_walks_dir =
